<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="M_Centre.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        <section name="M_Centre.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup><userSettings>
        <M_Centre.Settings>
            <setting name="AverageLoops" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Sessions" serializeAs="String">
                <value>1</value>
            </setting>
        </M_Centre.Settings>
        <M_Centre.Settings1>
            <setting name="AverageLoops" serializeAs="String">
                <value>100</value>
            </setting>
        </M_Centre.Settings1>
    </userSettings>
</configuration>
